trunk/Rensoft.ManxAds.WebSite/Help/HelpFile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.manxads.com/HelpFile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HelpFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Title" type="xs:string" />
        <xs:element name="Description" type="xs:string" />
        <xs:element name="Body" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Section">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Paragraph" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="Title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>