trunk/Rensoft.ErrorReporting/Rensoft.ErrorReporting/Web References/ErrorReportingWebService/ReportingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.rensoft.net/ErrorReporting" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://schemas.rensoft.net/ErrorReporting" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.rensoft.net/ErrorReporting">
      <s:element name="Report">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userComments" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="exceptionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="exceptionDetails" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="machineName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReportSoapIn">
    <wsdl:part name="parameters" element="tns:Report" />
  </wsdl:message>
  <wsdl:message name="ReportSoapOut">
    <wsdl:part name="parameters" element="tns:ReportResponse" />
  </wsdl:message>
  <wsdl:portType name="ReportingServiceSoap">
    <wsdl:operation name="Report">
      <wsdl:input message="tns:ReportSoapIn" />
      <wsdl:output message="tns:ReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportingServiceSoap" type="tns:ReportingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Report">
      <soap:operation soapAction="http://schemas.rensoft.net/ErrorReporting/Report" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReportingServiceSoap12" type="tns:ReportingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Report">
      <soap12:operation soapAction="http://schemas.rensoft.net/ErrorReporting/Report" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportingService">
    <wsdl:port name="ReportingServiceSoap" binding="tns:ReportingServiceSoap">
      <soap:address location="http://localhost:64652/ReportingService.asmx" />
    </wsdl:port>
    <wsdl:port name="ReportingServiceSoap12" binding="tns:ReportingServiceSoap12">
      <soap12:address location="http://localhost:64652/ReportingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>